{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block menu %}{% endblock %}

{% block texteBanniereMobile %}
<div class="container">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-7">
            <h2 class="">MuscUPPA</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<!-- Div du formulaire de login -->
<div class="formulaire-login">
    <!-- NE PAS TOUCHER AU FORMULAIRE -->
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
        >
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Rester connecté
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Connexion
        </button>

        <a href="{{ path('app_register') }}" style="margin: 15px">
            Inscription
        </a>
    </form>
</div>
{% endblock %}
