{% extends 'base.html.twig' %}

{% block title %}Séances{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Séances</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td>{{ seance.id }}</td>
                <td>{{seance.titre}}</td>
                <td>{{ seance.date ? seance.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <p><a href="{{ path('seance_show', {'id': seance.id}) }}">voir</a></p>
                    <p><a href="{{ path('seance_edit', {'id': seance.id}) }}">éditer</a></p>
                    <p><a href="{{ path('seance_delete', {'id': seance.id}) }}">supprimer</a></p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune séance enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seance_new') }}">Nouveau</a>
{% endblock %}
