{% extends 'base.html.twig' %}

{% block title %}Séance du {{ seance.date | date('d/m/Y') }}{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Séance du {{ seance.date | date('d/m/Y') }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ seance.titre}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ seance.date ? seance.date|date('Y-m-d H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <p><a href="{{ path('seance_index') }}">retour</a></p>

    <p><a href="{{ path('seance_edit', {'id': seance.id}) }}">éditer</a></p>

    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
