{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.sexe) }}
        {{ form_row(registrationForm.niveau) }}
        {{ form_row(registrationForm.objectif) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">Créer un compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
