/*
Pour surcharger les styles déjà présents
*/

/* Pour voir comment se comportent les divs (à enlever en prod) */
/*
[class*=col-]
{
	border: 1px solid blue;
}

[class*=container]
{
	border: 1px solid red;
}
*/

/* ********** VARIABLES ********** */
$form-login-padding: 15px;
$form-login-width: 350px;

$bgimd-heigth: 300px;
$bgimd-mobile-heigth: 100px;

$footer-color: white;
$footer-background-color: black;

/* ********** CODE ********** */

/* ---------- BANNIERE ---------- */
.bgimg
{
	height: $bgimd-heigth;
	.container
	{
		.row
		{
			height: $bgimd-heigth;
		}
	}
}

.bgim-mobile
{
	height: $bgimd-mobile-heigth;
	.container
	{
		.row
		{
			height: $bgimd-mobile-heigth;
		}
	}
}

.site-navbar
{
	margin-bottom: 1px;

	.container-fluid
	{
		padding: 0;
	}
}

/* ---------- NAVBAR ---------- */

/* ---------- CONTENU DU SITE ---------- */
.site-section
{
	padding: 5px;
}

.site-wrap
{
	margin-bottom: 50px;
}

/* ---------- PAGE DE LOGIN ---------- */
.formulaire-login
{
	padding: $form-login-padding;
	width: $form-login-width;
	margin: 0 auto; // Centrer la div dans la page
}

/* ---------- PAGE D'ACCUEIL ---------- */
.menu-principal
{
	.card
	{
		margin: 10px;
		text-align: center;
	}
}

/* ---------- PAGE D'ACCUEIL DES EXERCICES ---------- */
.bouton-creer-seance
{
	margin-bottom: 20px;
}

.card-exercice
{
	.card-header
	{
		text-align: center;
	}
	ul
	{
		list-style-type: none;
	}
}

/* ---------- PAGE D'UN EXERCICE ---------- */
.video-sizer
{
	max-width: 500px;
}

.details-exercice
{
	td
	{
		padding: 10px;
		vertical-align: top;
		ul
		{
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

.input_performance
{
	width: 100px;
}

/* ---------- FOOTER ---------- */
.footer {
	background-color: $footer-background-color;
	color: $footer-color;
	text-align: center;
}
