@charset "UTF-8";
/*
Pour surcharger les styles déjà présents
*/
/* Pour voir comment se comportent les divs (à enlever en prod) */
/*
[class*=col-]
{
	border: 1px solid blue;
}

[class*=container]
{
	border: 1px solid red;
}
*/
/* ********** VARIABLES ********** */
/* ********** CODE ********** */
/* ---------- BANNIERE ---------- */
.bgimg {
  height: 300px;
}
.bgimg .container .row {
  height: 300px;
}

.bgim-mobile {
  height: 100px;
}
.bgim-mobile .container .row {
  height: 100px;
}

.site-navbar {
  margin-bottom: 1px;
}
.site-navbar .container-fluid {
  padding: 0;
}

/* ---------- NAVBAR ---------- */
/* ---------- CONTENU DU SITE ---------- */
.site-section {
  padding: 5px;
}

.site-wrap {
  margin-bottom: 50px;
}

/* ---------- PAGE DE LOGIN ---------- */
.formulaire-login {
  padding: 15px;
  width: 350px;
  margin: 0 auto;
}

/* ---------- PAGE D'ACCUEIL ---------- */
.menu-principal .card {
  margin: 10px;
  text-align: center;
}

/* ---------- PAGE D'ACCUEIL DES EXERCICES ---------- */
.bouton-creer-seance {
  margin-bottom: 20px;
}

.card-exercice .card-header {
  text-align: center;
}
.card-exercice ul {
  list-style-type: none;
}

/* ---------- PAGE D'UN EXERCICE ---------- */
.video-sizer {
  max-width: 500px;
}

.details-exercice td {
  padding: 10px;
  vertical-align: top;
}
.details-exercice td ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.input_performance {
  width: 100px;
}

/* ---------- FOOTER ---------- */
.footer {
  background-color: black;
  color: white;
  text-align: center;
}

/*# sourceMappingURL=monStyle.css.map */
