{% extends 'base.html.twig' %}

{% block optionsMenu %}{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}
{% block body %}
<div class="row menu-principal">
    <div class="col-lg-4">
        <div class="card">
            <a href="{{path('performance_index')}}" class="btn-box big span4">
                <div class="card-body">
                    <i class="icon-line-chart"></i>
                    <b>Performances</b>
                    <p class="text-muted">
                        {{user.niveau}}
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <a href="{{path('exercice_index')}}" class="btn-box big span4">
                <div class="card-body">
                    <i class="fas fa-dumbbell"></i>
                    <b>Musculation</b>
                    <p class="text-muted">
                        {{nbExercices}} Exercices
                    </p>
                </div>
              </a>
                <div class="card-footer">
                    <button class="btn btn-primary" onclick="window.location.href = '{{ path('seance_new') }}'">Créer une séance</button>
                </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <a href="{{path('aliment_index')}}" class="btn-box big span4">
                <div class="card-body">
                    <i class="icon-cutlery"></i>
                    <b>Alimentation</b>
                    <p class="text-muted">
                        {{nbAliments}} Aliments
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
