{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
            <tr>
                <th>NumRue</th>
                <td>{{ adresse.numRue }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse.ville }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ adresse.codePostal }}</td>
            </tr>
            <tr>
                <th>NomRue</th>
                <td>{{ adresse.nomRue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('adresse_index') }}">back to list</a>

    <a href="{{ path('adresse_edit', {'id': adresse.id}) }}">edit</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
