<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
    <link href="{{asset('https://fonts.googleapis.com/css?family=Muli:300,400,700,900')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">

    <link rel="stylesheet" href="{{asset('css/jquery.fancybox.min.css')}}">

    <link rel="stylesheet" href="{{asset('css/bootstrap-datepicker.css')}}">

    <link rel="stylesheet" href="{{asset('fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('fonts/fontawesome/css/all.css')}}">

    <link rel="stylesheet" href="{{asset('css/aos.css')}}">
    <link href="{{asset('css/jquery.mb.YTPlayer.min.css')}}" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{asset('css/style.css')}}">

    <!-- Notre feuille de style pour surcharger les feuilles de styles préexistantes -->
    <link type="text/css" href="{{asset('css/monStyle.css')}}" rel="stylesheet">
    {% endblock %}

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            {% block menu %}
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo d-lg-none">
                        <a href="{{ path('accueil') }}">MuscUPPA</a>
                    </div>
                    <div class="ml-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <!-- Menu principal -->
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                {% block optionsMenu %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{path('performance_index')}}">
                                        <i class="icon-line-chart"></i>
                                        <span>Performances</span>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{path('exercice_index')}}">
                                        <i class="fas fa-dumbbell"></i>
                                        <span>Musculation</span>
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{path('aliment_index')}}">
                                        <i class="icon-cutlery"></i>
                                        <span>Alimentation</span>
                                    </a>
                                </li>
                                {% endblock %}

                                <!-- Lien vers le support -->
                                <li class="nav-item active">
                                    <a class="nav-link"href="{{path('contact')}}">Support</a>
                                </li>

                                <!-- Menu déroulant de l'utilisateur -->
                                <li class="nav-item dropdown active">

                                    <!-- Icône et nom de l'utilisateur -->

                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="{{asset('images/user.png')}}" class="nav-avatar" height="30" width="30"/>
                                        <b class="caret">Utilisateur</b>
                                    </a>

                                    <!-- Contenu du menu déroulant -->
                                    {% block profileAcces %}
                                    {% if is_granted("ROLE_USER") %}
                                    <!-- block redefined in all other templates -->
                                    {% endif %}
                                    {% endblock %}

                                </li>
                            </ul>
                        </nav>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
                    </div>

                </div>
            </div>
            {% endblock %}
        </header>

        <!-- Bannière à afficher quand le site est sur grand écran (> 992px de large) -->
        <div class="bgimg d-none d-lg-block" style="background-image: url('{{ asset('images/dumbells-banner.jpg') }}');">
            {% block texteBanniere %}
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <a href="{{ path('accueil') }}" style="text-decoration: none">
                            <h2 class="">MuscUPPA</h2>
                        </a>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>

        <!-- Bannière à afficher quand le site est sur petit écran (< 992px de large) -->
        <div class="bgimg bgim-mobile d-lg-none" style="background-image: url('{{ asset('images/dumbells-banner.jpg') }}');">
            {% block texteBanniereMobile %}
            {% endblock %}
        </div>

        <div class="site-section">
            <div class="container">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </div>


    <footer>
        <div class="page-footer footer">
            <span><b class="copyright">&copy; <script>document.write(new Date().getFullYear());</script> MuscUppa - univ-pau.fr </b>All rights reserved.</span>
        </div>
    </footer>



</div>
<!-- .site-wrap -->

<script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
<script src="{{asset('js/jquery-migrate-3.0.1.min.js')}}"></script>
<script src="{{asset('js/jquery-ui.js')}}"></script>
<script src="{{asset('js/popper.min.js')}}"></script>
<script src="{{asset('js/bootstrap.min.js')}}"></script>
<script src="{{asset('js/owl.carousel.min.js')}}"></script>
<script src="{{asset('js/jquery.stellar.min.js')}}"></script>
<script src="{{asset('js/jquery.countdown.min.js')}}"></script>
<script src="{{asset('js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
<script src="{{asset('js/aos.js')}}"></script>
<script src="{{asset('js/jquery.fancybox.min.js')}}"></script>
<script src="{{asset('js/jquery.sticky.js')}}"></script>
<script src="{{asset('js/jquery.mb.YTPlayer.min.js')}}"></script>

<script src="{{asset('moment-with-locales.js')}}"></script>

<script src="{{asset('chart.js/chart.js/dist/Chart.js')}}"></script>


<script src="{{asset('js/main.js')}}"></script>

{% block scripts_js %}{% endblock %}

</body>

</html>
