{% extends 'base.html.twig' %}

{% block title %}Editer la performance à {{ performance.exercice.nom }} du {{ performance.seance.date | date('d/m/Y') }}{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Editer la performance à {{ performance.exercice.nom }} du {{ performance.seance.date | date('d/m/Y') }}</h1>

    {{ include('performance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('performance_index') }}">retour</a>

    {{ include('performance/_delete_form.html.twig') }}
{% endblock %}
