{% extends 'base.html.twig' %}

{% block title %}Performance index{% endblock %}
{% block texteBanniereMobile %}{% endblock %}
{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
<h1>Performances</h1>

<table class="table">
    <thead>
        <tr>
            <th>Exercice</th>
        </tr>
    </thead>
    <tbody>
        {% for exercice in exercices %}
        <tr>
            <td>
                <a href="{{ path('performance_show', {'id': exercice.id}) }}">
                    {{ exercice.nom }}
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">Aucune perormance trouvée</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('performance_new') }}">Nouveau</a>
{% endblock %}
