{% extends 'base.html.twig' %}

{% block title %}Performances à {{ exercice.nom }}{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
<script type="text/javascript">
donnees = Array();
var dates = Array();
</script>
<h1>Performances à {{ exercice.nom }}</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>nbRepEff</th>
            <th>commentaire</th>
        </tr>
    </thead>
    <tbody>
        {% for performance in performances %}
        <tr>
            <td>
                <p>{{ performance.seance.date | date('d/m/Y') }}</p>
            </td>
            <td>
                <p>{{ performance.nbRepetitionEffectuees }}</p>
            </td>
            <td>
                <p>{{ performance.commentaire }}</p>
            </td>
            <td>
                <p><a href="{{ path('performance_edit', {'id': performance.id}) }}">éditer</a></p>

                {{ include('performance/_delete_form.html.twig') }}
            </td>
        </tr>
        <script type="text/javascript">
        var date = new Date({{ performance.seance.date | date('Y') }}, {{ performance.seance.date | date('m') }} - 1, {{ performance.seance.date | date('d') }});
        donnees.push({x: date, y: {{ performance.nbRepetitionEffectuees }}});
        dates.push(date.toLocaleDateString());
        </script>
        {% else %}
        <tr>
            <td colspan="7">Aucune perormance trouvée</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="col-12" height="400">
        <canvas id="myChart" width="500" height="400"></canvas>
    </div>
</div>



<p><a href="{{ path('performance_index') }}">retour</a></p>


{% endblock %}


{% block scripts_js %}
<script type="text/javascript">
console.log(donnees);
var ctx = document.getElementById('myChart');
moment.locale('fr-FR');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: dates,
        datasets: [{
            data: donnees,
            label: "Nombre de répétitions",
            borderColor: "#3e95cd",
            fill: false
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Perforances'
        },
        scales: {
            xAxes: [{
                type: 'time',
                distribution: 'linear',
                time: {
                    parser: 'MM/DD/YYYY',
                    tooltipFormat: 'll',
                    unit: 'month',
                    unitStepSize: 1,
                    min: donnees[0],
                    displayFormats: {
                        'day': 'MM/DD/YYYY'
                    }
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        elements: {
            line: {
                tension: 0
            }
        }
    }
});
</script>
{% endblock %}
