{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
<h1>Aliments</h1>
<form class="navbar-search pull-left input-append">
    <input type="text" class="span3">
    <button class="btn" type="submit">
        <i class="icon-search"></i>
    </button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Détails</th>
            <th>Type</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for aliment in aliments %}
        <tr>
            <td><a href="{{ path('aliment_show', {'id': aliment.id}) }}">{{ aliment.nom }}</a></td>
            <td>
                <table>
                    <tr>
                        <td>kcal</td>
                        <td>{{ aliment.kcal }}</td>
                    </tr>
                    <tr>
                        <td>glucides</td>
                        <td>{{ aliment.glucides }}</td>
                    </tr>
                    <tr>
                        <td>protides</td>
                        <td>{{ aliment.protides }}</td>
                    </tr>
                    <tr>
                        <td>lipides</td>
                        <td>{{ aliment.lipides }}</td>
                    </tr>
                </table>
            </td>
            <td>{{ aliment.type }}</td>
            <td><a href="{{ path('aliment_edit', {'id': aliment.id}) }}">éditer</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">Aucun aliments trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('aliment_new') }}">Nouveau</a>
{% endif %}
{% endblock %}
