{% extends 'base.html.twig' %}

{% block title %}{{ aliment.nom }}{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Aliment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aliment.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ aliment.nom }}</td>
            </tr>
            <tr>
                <th>Kcal</th>
                <td>{{ aliment.kcal }}</td>
            </tr>
            <tr>
                <th>Glucides</th>
                <td>{{ aliment.glucides }}</td>
            </tr>
            <tr>
                <th>Protides</th>
                <td>{{ aliment.protides }}</td>
            </tr>
            <tr>
                <th>Lipides</th>
                <td>{{ aliment.lipides }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ aliment.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('aliment_index') }}">retour</a>

    <a href="{{ path('aliment_edit', {'id': aliment.id}) }}">éditer</a>

    {{ include('aliment/_delete_form.html.twig') }}
{% endblock %}
