{% extends 'base.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>Exercices</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 bouton-creer-seance">
        <button class="btn btn-primary" onclick="window.location.href = '{{ path('seance_new') }}'">Créer une séance</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-columns">
            {% for exercice in exercices %}
            <div class="card card-exercice">
                <a href="{{ path('exercice_show', {'id': exercice.id}) }}">
                    <div class="card-header">
                        <h3>{{ exercice.nom }}</h3>
                    </div>
                    <div class="card-body">
                        <ul>
                        {% for zone in exercice.zone | sort %}
                            <li>{{ zone }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </a>
            </div>
            {% else %}
            <p>Aucun exercice trouvé</p>
            {% endfor %}
        </div>
    </div>
</div>

<a href="{{ path('exercice_new') }}">nouveau</a>
{% endblock %}
