{% extends 'base.html.twig' %}

{% block title %}{{ exercice.nom }}{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1>{{ exercice.nom }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="details-exercice">
            <tr>
                <th></th>
                <th>Conseillé</th>
            </tr>
            <tr>
                <td>Zone</td>
                <td>
                    <ul>
                        {% for zone in exercice.zone | sort %}
                            <li>{{ zone }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Charge</td>
                <td><span id="charge"></span> kg</td> <!-- RM / ratio = charge -->
            </tr>
            <tr id="nombreDeRepetitions">
                <td>Répétitions</td>
                <td>{{exercice.repMax}}</td>
            </tr>
            <tr id="duree">
                <td>Durée</td>
                <td>{{ exercice.dureeMax * 0.75 }} minutes</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div class="video-sizer">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe
                class="embed-responsive-item"
                width="560" height="349"
                src="{{ exercice.lienVideo }}"
                frameborder="0"
                allow="accelerometer;
                encrypted-media;
                gyroscope;
                picture-in-picture"
                allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a href="{{ path('exercice_index') }}">retour</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{{ path('exercice_edit', {'id': exercice.id}) }}">éditer</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ include('exercice/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}

{% block scripts_js %}
<script>
    document.getElementById('charge').textContent = Math.round( {{ exercice.repMax }} / {{ exercice.coef }});
    //Math.round({{ exercice.repMax }} / {{ exercice.coef }});
</script>
{% endblock %}
