{% extends 'base.html.twig' %}

{% block title %}Editer utilisateur{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Editer le profil de {{ utilisateur.prenom }} {{ utilisateur.nom }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <p><a href="{{ path('user_index') }}">retour</a></p>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
