{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <p><a href="{{ path('user_index') }}">retour</a></p>
{% endblock %}
