{% extends 'base.html.twig' %}

{% block title %}Profil de {{ utilisateur.prenom }} {{ utilisateur.nom }}{% endblock %}

{% block profileAcces %}
{% if is_granted("ROLE_USER") %}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{ path('user_show', {'id': user.id}) }}">Profil</a>
    <a class="dropdown-item" href="{{ path('user_edit', {'id': user.id}) }}">Editer profil</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
</div>
{% endif %}
{% endblock %}

{% block body %}
    <h1>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>DateInscription</th>
                <td>{{ user.dateInscription ? user.dateInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateConnexion</th>
                <td>{{ user.dateConnexion ? user.dateConnexion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ user.niveau }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ user.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Perforamnces</th>
                <td><a href="{{path('fiche')}}" class="btn btn-success">Télécharger ma fiche de performance</a></td>
            </tr>
        </tbody>
    </table>

    <p><a href="{{ path('user_index') }}">retour</a></p>

    <p><a href="{{ path('user_edit', {'id': user.id}) }}">éditer</a></p>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
